{
  "api": {
    "url": "https://recorder.example.org",
    "username": "",
    "password": "",
    "cookieName": "",
    "cookieValue": "",
    "timeout": 600000
  },
  "map": {
    "tileServer": "https://basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
    "minZoom": 2,
    "maxZoom": 21,
    "satelliteEnabled": false,
    "satelliteTileServer": "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
    "satelliteLabelServer": "https://basemaps.cartocdn.com/rastertiles/voyager_only_labels/{z}/{x}/{y}.png",
    "satelliteMaxZoom": 19
  },
  "defaults": {
    "user": "owntracks-user",
    "device": "users-device"
  },
  "display": {
    "points": {
      "show": true,
      "color": "#3388ff",
      "size": 2,
      "opacity": 0.5
    },
    "lines": {
      "show": true,
      "color": "#3388ff",
      "width": 3,
      "opacity": 0.7
    },
    "accuracy": {
      "maxMeters": 0
    },
    "altitude": {
      "min": 0,
      "max": 1000,
      "points": {
        "enabled": false,
        "lowColor": "#00ff00",
        "highColor": "#ff0000"
      },
      "lines": {
        "enabled": false,
        "lowColor": "#00ff00",
        "highColor": "#ff0000"
      }
    },
    "heatmap": {
      "enabled": false,
      "radius": 25,
      "blur": 15,
      "minOpacity": 0.05,
      "max": 20,
      "maxZoom": 18,
      "zoomScaling": false,
      "gradient": {
        "midStop": 0.6,
        "lowColor": "#0000ff",
        "midColor": "#00ffff",
        "midHighColor1": "#00ff00",
        "midHighColor2": "#ffff00",
        "highColor": "#ff0000"
      }
    },
    "storageEnabled": true
  },
  "debug": {
    "consoleLogging": false
  }
}
